.board__card{
    background-color: $dashboardBgColor;
    border-radius: 10px;
    margin: 10px 0px 0px;
}
.board__card--code{
    padding-left: 20px;
    border: 2px solid $codeColor;
}
.board__card--research{
    padding-left: 20px;
    border: 2px solid $researchColor;
}
.board__card--design{
    padding-left: 20px;
    border: 2px solid $designColor;
}
.board__card--resources{
    padding-left: 20px;
    border: 2px solid $resourcesColor;
}
.board__card--testing{
    padding-left: 20px;
    border: 2px solid $testingColor;
}
.categorywrapper{
    height: 30px;
    width: 80px;
    background-color: $codeColor;
    border-radius: 10px 0px 6px 0px;
    text-align: center;
}
.categorywrapper h4{
    padding-top: 5px;
}