.board__card{
    background-color: $dashboardBgColor;
    border-radius: 10px;
    margin-top: 10px;
    max-height: 180px;
    padding-left: 20px;
}
.board__card--code{
    border: 2px solid $codeColor;
}
.board__card--research{
    border: 2px solid $researchColor;
}
.board__card--design{
    border: 2px solid $designColor;
}
.board__card--resources{
    border: 2px solid $resourcesColor;
}
.board__card--testing{
    border: 2px solid $testingColor;
}