body {
    font-family: 'Trebuchet MS';
  }
  #root {
    height: 100vh;
  }
  .app, .boards__section, .board__wrap, .board__section  {
    height: 100%;
  }
  #hamburgerBtn, #profileImage {
    height: 50px;
    width: auto;
  }
  

  .board__section {
    padding: 10px;
    background-color: gray;
    border-radius: 45;
  }
  .board__card--code {
    border: 2px solid red;
  }
  .board__card--research {
    border: 2px solid blue;
  }
  .board__card--design {
    border: 2px solid green;
  }
  .board__card--testing {
    border: 2px solid tan;
  }
  .board__card--resources {
    border: 2px solid skyblue;
  }
  .board__card {
    background-color: white;
  }
  .profilePhotos {
    height: 40px;
    width: 40px;
    border-radius: 100;
  }