.modal__wrapper{
    height:100%;
    background-color: $dashboardBgColor;
    border-radius: 5px;
    min-width: 325px;
}
.modal__body{
    padding: 0px 20px 20px 20px;
}
#closebtn{
    position: absolute;
    left: 90%;
    top: 10%;
}
#infoform{
    padding: 20px 20px 0px 20px;
}
.category-wrapper{
    padding: 10px 20px;
    text-align: center;
}
.category-wrapper2{
    text-align: center;
    height: 50px;
    margin: 40px 20px 20px 20px;
}
.catdropbtn {
    background-color:$dashboardBgColor;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-transform: capitalize;
} 
.catdropdown {
    position: relative;
    display: inline-block;
    align-items:center;
    text-align: center;
}
.catdropdown-content {
    display: none;
    position: absolute;
    background-color: $stacksBgColor;
    min-width: 50px;
    z-index: 1;
}
.catdropdown-content span{
    flex-direction: column;
}
.pdropbtn {
    background-color:$dashboardBgColor;
    color: white;
    padding: 20px;
    border: none;
    width: 100%;
    margin: 0 auto;
}
.pdropdown {
    position: relative;
    display: inline-block;
    align-content:center;
}
.pdropdown-content {
    display: none;
    position: absolute;
    background-color: $stacksBgColor;
    text-align: center;
    z-index: 1;
}
.pdropdown-content span{
    flex-direction: column;
}
#title{
    width: 100%;
    font-size: 2rem;
}
#description{
    margin-top: 30px;
    width: 100%;
    height: 20%;
    font-size: 1.25rem;
    background-color: $dashboardBgColor;
    color: white;
    border: none;
}
input{
    background-color: $dashboardBgColor;
    color: white;
    border: none;
}
#lowp{
    padding: 5px;
    max-width: 70px;
    cursor: pointer;
}
#medp{
    padding: 5px;
    max-width: 70px;
    cursor: pointer;
}
#highp{
    padding: 5px;
    max-width: 70px;
    cursor: pointer;
}
#blockp{
    padding: 5px;
    max-width: 70px;
    cursor: pointer;
}
#codecategory, #researchcategory, #designcategory, #resourcescategory, #testingcategory {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    max-height: 75%;
    max-width: 75%;
}
#codecategory{
    background-color: $codeColor;
    border: 5px solid $codeColor;
    border-radius: 5px;
}
#researchcategory{
    background-color: $researchColor;
    border: 5px solid $researchColor;
    border-radius: 5px;
}
#designcategory{
    background-color: $designColor;
    border: 5px solid $designColor;
    border-radius: 5px;
}
#resourcescategory{
    background-color: $resourcesColor;
    border: 5px solid $resourcesColor;
    border-radius: 5px;
}
#testingcategory{
    background-color: $testingColor;
    border: 5px solid $testingColor;
    border-radius: 5px;
}
#functionbtns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 30px;
}
.saveBtn, .deleteBtn{
    width: 100px;
    margin: 40px 20px 20px 20px;
    padding: 10px 20px;
    border-radius: 5px;
}
.saveBtn{
    background-color: white;
    border: none;
    color: black;
}
.deleteBtn {
    background: none;
    color: red;
    border-color: red;
}
    
.catdropdown-content a:hover {background-color: white;}
.catdropdown:hover .catdropdown-content {display: flex; flex-direction: column;}
.catdropdown:hover .catdropbtn {background-color: grey;}

.pdropdown-content a:hover {background-color: white;}
.pdropdown:hover .pdropdown-content {display: flex; flex-direction: column;}
.pdropdown:hover .pdropbtn {background-color: grey;}

@media (max-width: 830px) {
    .modal__wrapper{
        width: 100%;
    }
    .modal__body{
        padding: 0px 20px 0px 0px;
    }
    #closebtn{
        position: absolute;
        left: 85%;
        top: 5%;
    }
    .category-wrapper2{
        margin: 10px 10px 10px 10px;
    }
    .pdropbtn {
        padding: 16px;
    }
    #functionbtns{
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
    }
    .saveBtn, .deleteBtn{
        margin: 10px 10px 10px 10px;
        padding: 10px 8px;
    }
    .deleteBtn {
        margin-top: 40px;
    }
}