.modal__wrapper{
    height:50%;
    background-color: $dashboardBgColor;
}
.modal__body{
    padding: 0px 20px 20px 20px;
    margin-left: 20px;
}
.category-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin: 0px 20px;
}
.catdropbtn {
    background-color:$dashboardBgColor;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-right: 50px;
} 
.catdropdown {
    position: relative;
    display: inline-block;
    align-items:center;
    text-align: center;
}
.catdropdown-content {
    display: none;
    position: absolute;
    background-color: $stacksBgColor;
    min-width: 50px;
    z-index: 1;
}
.catdropdown-content span{
    flex-direction: column;
}
.pdropbtn {
    background-color:$dashboardBgColor;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
} 
.pdropdown {
    position: relative;
    display: inline-block;
    max-height: 300px;
    align-content:center;
}
.pdropdown-content {
    display: none;
    position: absolute;
    background-color: $stacksBgColor;
    text-align: center;
    z-index: 1;
}
.pdropdown-content span{
    flex-direction: column;
}
.priorities {
    max-height: 50px;
}
#title{
    width: 100%;
    font-size: 2rem;
}
#description{
    margin-top: 30px;
    width: 95%;
    height: 20%;
    font-size: 1.25rem;
    background-color: $dashboardBgColor;
    color: white;
    border: none;
}
input{
    background-color: $dashboardBgColor;
    color: white;
    border: none;
}
#lowp{
    padding: 5px;
    max-height: 75%;
    max-width: 75%;
    cursor: pointer;
}
#medp{
    padding: 5px;
    max-height: 75%;
    max-width: 75%;
    cursor: pointer;
}
#highp{
    padding: 5px;
    max-height: 75%;
    max-width: 75%;
    cursor: pointer;
}
#blockp{
    padding: 5px;
    max-height: 75%;
    max-width: 75%;
    cursor: pointer;
}
#codecategory, #researchcategory, #designcategory, #resourcescategory, #testingcategory {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    max-height: 75%;
    max-width: 75%;
}
#codecategory{
    background-color: $codeColor;
    border: 5px solid $codeColor;
    border-radius: 5px;
}
#researchcategory{
    background-color: $researchColor;
    border: 5px solid $researchColor;
    border-radius: 5px;
}
#designcategory{
    background-color: $designColor;
    border: 5px solid $designColor;
    border-radius: 5px;
}
#resourcescategory{
    background-color: $resourcesColor;
    border: 5px solid $resourcesColor;
    border-radius: 5px;
}
#testingcategory{
    background-color: $testingColor;
    border: 5px solid $testingColor;
    border-radius: 5px;
}
// .dropdown-content a {
//     color: white;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
// }
#functionbtns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.saveBtn, .deleteBtn{
    width: 100px;
    margin: 40px 20px 20px 20px;
    padding: 10px 20px;
    border-radius: 5px;
}
.saveBtn{
    background-color: white;
    border: none;
    color: black;
}
.deleteBtn {
    background: none;
    color: red;
    border-color: red;
}
    
.catdropdown-content a:hover {background-color: white;}
.catdropdown:hover .catdropdown-content {display: flex; flex-direction: column;}
.catdropdown:hover .catdropbtn {background-color: grey;}

.pdropdown-content a:hover {background-color: white;}
.pdropdown:hover .pdropdown-content {display: flex; flex-direction: column;}
.pdropdown:hover .pdropbtn {background-color: grey;}
