.ProfileContainer {
    margin: 0 auto;
    max-width: 360px;
    align-content: center;
    padding-top: 100px;
  }
.Profile {
    padding-top: 25px;
  }
.Profile__img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

//   .Profile__form{
//     display: flex;
//     flex-direction: column;
//     align-items: left;
//     padding-right: 20px;
//   }
//   .Profile__label {
//     font-size: .7rem;
//     padding-top: 10px;
//   }
//   .Profile__input {
//     width: 100%;
//     border-radius: 5px;
//     background-color: $stacksBgColor;
//     color: white;
//     border: none;
//     padding: 10px;
//   }
//   .button {
//     display: flex;
//     flex-direction: flex-start;
//     padding: 25px;
//   }
  #logoutbtn {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  #backbtn {
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

//   #editbtn {
//     color: white;
//     border-radius: 5px;
//     padding: 10px 20px;
//     cursor: pointer;
//   }