.SigninContainer {
  margin: 0 auto;
  max-width: 360px;
  align-content: center;
  padding-top: 100px;
}
#welcome {
  margin-top: 50px;
  background-color: rgb(21, 21, 235);
  padding: 5px 15px;
  border-radius: 10px;
}
.SignIn__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  // padding-right: 20px;
}
.SignIn__label {
  font-size: .7rem;
  padding: 25px 0px 10px;
}
.SignIn__input {
  width: 95%;
  border-radius: 5px;
  background-color: $stacksBgColor;
  color: white;
  border: none;
  padding: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
#signupbtn2 {
  cursor: pointer;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  border: solid 2px white;
  border-radius: 5px;
}
#signinbtn2 {
  cursor: pointer;
  font-size: .9rem;
  padding: 10px 20px;
  border: solid 2px white;
  border-radius: 5px;
}
.red-text{
  color: red;
}