$textColor: #FFFFFF;
$dashboardBgColor: #1C1C1C;
$stacksBgColor: #333333;
$cardBgColor: #1C1C1C;
$codeColor: #C1239F;
$researchColor: #3377DD;
$designColor: #BB7B1A;
$resourcesColor: #019B69;
$testingColor: #8548C1;

// Dashboard header color is a linear gradient consisting of all category colors starting with codeColor and ending with testingColor. 
// Header also has a black overlay set at 60% opacity. Filters bar also, set at 80% opacity. 