body {
  font-family: 'Trebuchet MS';
}
#root {
  height: 100vh;
}
.app, .boards__section, .board__wrap, .board__section  {
  height: 100%;
}
#hamburgerBtn, #profileImage {
  height: 50px;
  width: auto;
}

.boards__section {
  display: flex;
justify-content: space-between;
  
}

.board__section {
  padding: 10px;
  background-color: gray;
}
.board__card {
  background-color: white;
}
.profilePhotos {
  height: 40px;
  width: 40px;
  border-radius: 100;
}

.devColor {
  background-color: red;
}


